body, html {
	height: 100%;
	width: 100vw;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.3px;
	color: black ;
    align-items:center;
  justify-content:center;
  /*margin-bottom: 100vh*/
	}

::-webkit-scrollbar {
    width: 0px ; /*  remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible*/ 
    height:3px;
}

::-webkit-scrollbar-thumb {
	width: 0px ;
	border-radius:0px;
	background-color: #53a374;
	height:0px;
}

::-webkit-scrollbar-button  {
    height:0px;
}


::-webkit-scrollbar-corner  {
    display:none;    
}
a {
    outline: none !important;
    text-decoration: none !important;  
}
a:focus{
	border: none;
}

.mainGIF{
	height:100vh;
	width: 100vw;
}
@font-face {
    font-family: 'leagueSpartan'; /*a name to be used later*/
    src: url('src/fonts/league-spartan-master/_webfonts/leaguespartan-bold.ttf'); /*URL to font*/
}
.navbar-default{
	background-color: #fff ;
	background-image: none ;
	box-shadow: none ;
	border-color: #fff ;
	padding-top: 5px
}

.logoHeader{
	width: 13vw;
	height: auto;
	margin-left: 28%;
}

.headerLink {
	padding-right: 2vw;
	margin-top: 20px
}
.headerLink li a{
	font-weight: 700;
	color: #000 !important;
	font-size: 1.32vw;
	padding-top: 15px 2.2vw;
	font-weight: 900;
	font-family: 'Lato' , sans-serif;
	-webkit-transition: .4s; /* Safari */
    transition: .4s;
        /*margin-top: -4.5vh;*/


}

.headerLink li a:hover{
	color: #ddd !important;
	background-color: #000 !important;
	border-radius: 5px
}
.headerLink li a:hover{
	color: #fff !important;
	background-color: #888 !important;
	border-radius: 5px;

}
.navbar-default .navbar-nav>.active>a{
	background-image: none !important;
	background-color: #000;
	color: #fff !important;
	border-radius: 5px;

}
.aboutUsHeading{
	color:#000;
	font-size: 6.5vw;
	padding-right: 10vw;
	margin-top: 2vh;
	font-weight: 900;
	font-family: 'Lato', snas-serif;
}
.aboutUsTextMain{
    color: #000;
    font-size: 1.6vw;
    padding-left: 10vw;
    padding-right: 9vw;
    padding-top: 0vh;
    word-spacing:.1vw;
    line-height:28px;
    font-weight: 400;
    margin-top: 3vh
}
.readMoreMainButton{
	margin-top: 10vh;
	text-align: center;
}
.readMoreMainButton a{
    background-color: #ff3333;
    color: #fff;
    padding: 17px 28px;
    border-radius: 5px;
    font-size: 1.3vw;
    font-weight: 700;
    cursor: pointer;
}
.hideme{
	opacity: 1;
	padding-top:0vh
}
.navbarAnimate{
	opacity: 1;
}
.borderLine{
	border-bottom: 1px solid #888;
	padding-bottom: 15vh;
}
.rightBorder{
	border-right: 1px solid #888;
	
}
.eventPad{
	padding-top: 0vh;
	padding-bottom: 7vh
}
.eventDiv{
	text-align: center;
	/*margin-top: 1vh;*/
	padding-top: 4vh
}
.eventHeading{
	color: #000;
    font-size: 3.5vw;
    font-weight: 900;
}
.eventHeading2{
	margin-bottom: -.5vh;
	margin-top: 7vh
}
.eventContent{
	    font-size: 1.6vw;
    line-height: 28px;
    padding: 0 7.25vw;
    color: #000;
}
.eventContentHeading{
	margin-bottom: 1.5vh;
	padding-top: 6vh 
}
.footer{
	background-color: #333;
	/*height: 40vh*/
}
.footerDetail{
	color: #fff;
    font-weight: 700;
    padding-left: 8vw;
    font-size: 1.3vw;
}
.footerDetailIcon{
	padding-right: 1vw;
	padding-top: 5vh
}
.footerDetailIcon1{
	padding-right: 1vw;
	margin-top: -.5vh
}
.copyright{
	    color: #fff;
    padding-left: 10.3vw;
    font-size: 1.1vw;
    padding-top: 6vh;
}
.footerSocialIcon{
	    color: #fff;
    padding: 2vh .7vw;
    font-size: 1.5vw;
    padding-top: 7vh;
}
.sideIcons{
    z-index: 2;
    position: fixed;
    top:20em;
    left:95%;
}
@media only screen and (min-width: 720px) {
    .sideIcons {
        left:93%;
    }
}	
@media only screen and (max-width: 720px) {
	.sideIcons {
        left:177%;
        opacity: 0
    }
}
.fb{
    background-color: #3b579d;
    min-width: 40px;
    color: #fff;
    text-align: center;
    padding: 8px 0
}
.google{
    background-color: #dd4f43;
    min-width: 40px;
    color: #fff;
    text-align: center;
    padding: 8px 0
}
.linkedin{
    background-color: #007bb6;
    min-width: 40px;
    color: #fff;
    text-align:
    center;padding: 8px 0
}
.twitter{
    background-color: #1da1f2;min-width: 40px;color: #fff;text-align: center;padding: 8px 0
}


/* about page*/

.aboutHeading {
    font-size: 5vw;
    font-weight: 900;
    padding-left: 3.5vw;
    padding-top: 5vh;
    color:#000;
}
.aboutContent{
	   font-size: 1.2vw;   
    color: #000;
    padding-right: 5vw;
    padding-bottom: 10vh;
    word-spacing: 3px;
}
.TEAM
{
  color:black;font-size:40px;margin-left:120px;font-weight: bold;
}

/* sponsors page*/
.new-tab{
        font-size: 1.1em;
        border:none;
        font-weight: 300;
        color:#fff;
        padding: 5px 25px;
        border-radius: 5px;
        background-color: #000;
    }
    .old-tab{
        font-size: 1.1em;
        border:none;
        font-weight: 300;
        color:#666;
        padding: 5px 25px;
        border-radius: 5px;
        background-color: #fff;
        display: inline;
    }
    
    .new_old_sponsors{
        margin-left: 8%;
        list-style-type: none;
    }
    .new_old_sponsors li{
        padding-left: 2%;
        display: inline-block;
    }

.imageDiv {
    position: relative;
    /*width: 100%;*/
    text-align: center;
}
	
.personImage {
  opacity: 1;
  display: block;
  width: 165px;
  height: 165px;
  border-radius:300px;
  transition: .5s ease;
  backface-visibility: hidden;
}
.hoverDiv {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 42%;
  left: 35%;
  width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.imageDiv:hover .personImage {
  opacity: 0.7;
}
.imageDiv:hover .hoverDiv {
  opacity: 1;
}
.team
{
  color:#138D75  ;
  font-size:20px;
}
.teamid
{
	width: 165px;
  padding:0px;  
}
.teamname
{
  color:blue;
  font-size:20px;
  padding:0px;
}
.department
{
  color:orange;
  font-size: 30px;
  margin-left: 40%;
}


.hoverIconFb {
  background-color: #3b579d;
  color: white;
  font-size: 15px;
  padding: 8px 13.5px;
  display: inline;
  border-radius: 5px
}
.hoverIconLinkedin {
  background-color: #007bb6;
  color: white;
  font-size: 15px;
  padding: 8px 10px;
  display: inline;
  border-radius: 5px
}
.hover08 figure img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover08 figure:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.AEsponsors
{
  margin-left:120%;
}
.sponsorsImage{
        height: 110px;
    width: 250px;
}
.goldsponsorsImage{
        height: 150px;
    width: 280px;
}
.silversponsorsImage{
        height: 110px;
    width: 250px;
}
.bronzesponsorsImage{
        height: 70px;
    width: 210px;
}

.display{
    display: block;
}
.welcomeToMotorsport{
    z-index: 1;
    position: absolute;
    color: #ff0000;
    font-size: 7vw;
    background-color: #000;
    font-weight: 900;
    opacity: 0.6;
    top: 0vh;
    padding: 27vh 24vw 29vh 7vw;
    word-spacing: 2vw;
}
.staticnaavbar{
  position: sticky;
  top:100px;
  left:150px;
}
.goldspons {
    text-align: center;
    color: #826436;
    font-weight: 900;
    font-size: 4vw;
    margin-top: 1vh;
    margin-bottom: 10vh;
}
.silverspons {
    text-align: center;
    color: #826436;
    font-weight: 900;
    font-size: 3vw;
    margin-top: 20vh;
    margin-bottom: 17vh;
}
.bronzespons {
    text-align: center;
    color: #826436;
    font-weight: 900;
    font-size: 2vw;
    margin-top: 20vh;
    margin-bottom: 17vh;
}
.competitio{
  font-weight: bold;
  font-size: 3vw;
  color: black;
  padding: 1vw;
  margin: 1vw;
}
.compdetails{
  padding-left: 1vw;
  font-size: 1.1vw;
  margin-left: 1vw;
  margin-bottom: 1vw;
}
.ae{
  margin-top: 50px;
}
.portfolio img {
    max-width: 100%;
    position: relative;
}
.mar-b-30 {
    margin-bottom: 30px;
} 

#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: 24%;
    margin-right: 1%;
    margin-bottom: 1%;
    display: none;
    float: left;
    overflow: hidden;
    }

.portfolio-wrapper {
    overflow: hidden;
    position: relative !important;
    background: #666;
    cursor: pointer;
}
.portfolio-hover {
    position: relative;
    overflow: hidden;
}

#filters li span.active {
    background-color: #2c3e50;
    color: #fff;
}
#filters li span {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: #666;
    cursor: pointer;
}
span.filter {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.image-caption {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding-top: 35%;
    display: none;
    text-align: center;
    color: #fff !important;
    z-index: 2;
}
ul#filters li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
ul#filters {
    display: inline-block;
    width: 100%;
    margin: 25px 0 25px 0;
}
#filters {
    margin: 1%;
    padding: 0;
    list-style: none;
    float:left;
}
ul {
    padding-left: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
.affix {
      padding-bottom: 15px;
      top: 0;
      width: 100%;
      z-index: 9999 !important;

      nav.navbar.shrink {
  min-height: 35px;
}
nav.shrink a {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  font-size: 10px;
}
nav.shrink .navbar-brand {
  font-size: 10px;
}
nav.shrink .navbar-toggle {
  padding: 2px 2px;
  margin: 8px 0 8px 0;
}
.facultydata
{
  height:300px;
  width:300px;
  background-color: red;
}.display{
    display: block;
}
.welcomeToMotorsport{
    z-index: 1;
    position: absolute;
    color: #ff0000;
    font-size: 7vw;
    background-color: #000;
    font-weight: 900;
    opacity: 0.6;
    top: 0vh;
    padding: 27vh 24vw 29vh 7vw;
    word-spacing: 2vw;
}
