@media only screen and (max-width: 768px) {

.mainGIF{
	height:40vh;
	width: 100vw;
}
.headerLink li a{
	font-size: 4vw;
}
.logoHeader{
	width: 25vw;
	height: auto;
	margin-left: 30%;
	margin-top: -10px
}
.aboutUsHeading {
    font-size: 9.5vw;
    margin-top: 0vh;
    padding-left: 10vw;
}    
.aboutUsTextMain {
    font-size: 3.6vw;
    padding-left: 10vw;
    padding-right: 7vw;
    line-height: 26px;
    margin-top: 0vh;
    word-spacing: -.5vw
}
.readMoreMainButton a {
    padding: 17px 28px;
    border-radius: 5px;
    font-size: 4.3vw;
}
.borderLine {
    padding-bottom: 10vh;
}
.eventHeading {
    font-size: 8.5vw;
}
.eventDiv {
    padding-top: 2vh;
}
.eventContent {
        font-size: 4.6vw;
    line-height: 27px;
    padding: 0 3vw;
}
.eventPad {
    padding-bottom: 0vh;
}
.eventHeading2 {
    margin-top: 3vh;
}
.footerDetail {
    padding-left: 4vw;
    font-size: 3.3vw;
}
.footerDetailIcon {
    padding-right: 3vw;
}
.footerDetailIcon1 {
    padding-right: 3vw;
}
.copyright {
    padding-left: 5.3vw;
    font-size: 3.1vw;
    padding-top: 8vh;
}
.footerSocialIcon {
    color: #fff;
    padding: 3vw 7vw;
    font-size: 5.8vw;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 46px;
}

.display{
    display: none;
}
.aboutHeading{
    font-size: 9vw;
    padding-top: 0;
}
.goldspons{
    font-size: 8vw;
    margin: 53px;
}
.sponsorsImage {
    height: 100px;
    width: 225px;
    padding: 20px;
}
.aboutContent{
    font-size: 5.2vw;
line-height: 1.2;
word-spacing: 0px;
padding-left: 14px;
}
.personImage {
    opacity: 1;
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 300px;
    transition: .5s ease;
    backface-visibility: hidden;
}
.hoverIconFb {
  background-color: #3b579d;
  color: white;
  font-size: 15px;
  padding: 4px 4px;
  display: inline;
  border-radius: 5px
}
.hoverIconLinkedin {
  background-color: #007bb6;
  color: white;
  font-size: 15px;
  padding: 4px 4px;
  display: inline;
  border-radius: 5px
}
.team
{
  color:#138D75  ;
  font-size:15px;
}
.teamid
{
    width:65px;
  padding:0px;  
}
.teamname
{
  color:blue;
  font-size:10px;
  padding:0px;
}
.teampos
{
font-size:08px;
}
.department
{
  color:orange;
  font-size: 20px;
  margin-left: 35%;
}
.hoverDiv {
  top: 35%;
  left: 75%;
}
.TEAM
{
  color:black;font-size:40px;margin-left: 50px;font-weight: bold;
}.display{
    display: none;
}
.display{
    display: none;
}
.aboutHeading{
    font-size: 9vw;
    padding-top: 0;
}
.goldspons{
    font-size: 8vw;
    margin: 53px;
}
.sponsorsImage {
    height: 100px;
    width: 225px;
    padding: 20px;
}
.aboutHeading {
    font-size: 8vw;
    padding-left: 0;
    padding-top: 0vh;
}
.aboutContent {
    font-size: 4.2vw;
    padding-right: 5vw;
    padding-bottom: 10vh;
    word-spacing: 0;
    line-height: 21px;
    padding-top: 18px;
    padding-left: 3px;
}
.display{
    display: none;
}
.hoverDiv {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 42%;
  left: 35%;
  width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.headingsCar{
  font-size:  7.5vw;
}

}