body, html {
	height: 100%;
	width: 100vw;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.3px;
	color: #333333;
    align-items:center;
  justify-content:center;
  /*margin-bottom: 100vh*/
	}

::-webkit-scrollbar {
    width: 0px ; /*  remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible*/ 
    height:3px;
}

::-webkit-scrollbar-thumb {
	width: 0px ;
	border-radius:0px;
	background-color: #53a374;
	height:0px;
}

::-webkit-scrollbar-button  {
    height:0px;
}


::-webkit-scrollbar-corner  {
    display:none;    
}
a {
    outline: none !important;
    text-decoration: none !important;  
}
a:focus{
	border: none;
}

.mainGIF{
	height:100vh;
	width: 100vw;
}
@font-face {
    font-family: 'leagueSpartan'; /*a name to be used later*/
    src: url('src/fonts/league-spartan-master/_webfonts/leaguespartan-bold.ttf'); /*URL to font*/
}
.navbar-default{
	background-color: #fff ;
	background-image: none ;
	box-shadow: none ;
	border-color: #fff ;
	padding-top: 5px
}

.logoHeader{
	width: 13vw;
	height: auto;
	margin-left: 28%;
}

.headerLink {
	padding-right: 2vw;
	margin-top: 20px
}
.headerLink li a{
	font-weight: 700;
	color: #000 !important;
	font-size: 1.32vw;
	padding-top: 15px 2.2vw;
	font-weight: 900;
	font-family: 'Lato' , sans-serif;
	-webkit-transition: .4s; /* Safari */
    transition: .4s;
}
}

.headerLink li a:hover{
	color: #ddd !important;
	background-color: #000 !important;
	border-radius: 5px
}
.headerLink li a:hover{
	color: #fff !important;
	background-color: #888 !important;
	border-radius: 5px;

}
.navbar-default .navbar-nav>.active>a{
	background-image: none !important;
	background-color: #000;
	color: #fff !important;
	border-radius: 5px;
}
.aboutUsHeading{
	color:#000;
	font-size: 6.5vw;
	padding-right: 10vw;
	margin-top: 3vh;
	font-weight: 900;
	font-family: 'Lato', snas-serif;
}
.aboutUsTextMain{
    color: #000;
    font-size: 1.6vw;
    padding-left: 10vw;
    padding-right: 9vw;
    padding-top: 0vh;
    word-spacing:.1vw;
    line-height:28px;
    font-weight: 400;
    margin-top: 3vh
}
.readMoreMainButton{
	margin-top: 10vh;
	text-align: center;
}
.readMoreMainButton a{
    background-color: #ff3333;
    color: #fff;
    padding: 17px 28px;
    border-radius: 5px;
    font-size: 1.3vw;
    font-weight: 700;
    cursor: pointer;
}
.hideme{
	opacity: 1;
	padding-top:0vh
}
.navbarAnimate{
	opacity: 1;
}
.borderLine{
	border-bottom: 1px solid #888;
	padding-bottom: 15vh;
}
.rightBorder{
	border-right: 1px solid #888;
	
}
.eventPad{
	padding-top: 4vh;
	padding-bottom: 7vh
}
.eventDiv{
	text-align: center;
	/*margin-top: 1vh;*/
	padding-top: 10vh
}
.eventHeading{
	color: #000;
    font-size: 3.5vw;
    font-weight: 900;
}
.eventHeading2{
	margin-bottom: -.5vh;
	margin-top: 7vh
}
.eventContent{
	    font-size: 1.6vw;
    line-height: 28px;
    padding: 0 7.25vw;
    color: #000;
}
.eventContentHeading{
	margin-bottom: 1.5vh;
	padding-top: 6vh 
}
.footer{
	background-color: #333;
	/*height: 40vh*/
}
.footerDetail{
	color: #fff;
    font-weight: 700;
    padding-left: 8vw;
    font-size: 1.3vw;
}
.footerDetailIcon{
	padding-right: 1vw;
	padding-top: 5vh
}
.footerDetailIcon1{
	padding-right: 1vw;
	margin-top: -.5vh
}
.copyright{
	    color: #fff;
    padding-left: 10.3vw;
    font-size: 1.1vw;
    padding-top: 6vh;
}
.footerSocialIcon{
	    color: #fff;
    padding: 2vh .7vw;
    font-size: 1.5vw;
    padding-top: 7vh;
}
.sideIcons{
    z-index: 2;
    position: fixed;
    top:20em;
    left:95%;
}
@media only screen and (min-width: 720px) {
    .sideIcons {
        left:93%;
    }
}	
@media only screen and (max-width: 720px) {
	.sideIcons {
        left:177%;
        opacity: 0
    }
}
.fb{
    background-color: #3b579d;
    min-width: 40px;
    color: #fff;
    text-align: center;
    padding: 8px 0
}
.google{
    background-color: #dd4f43;
    min-width: 40px;
    color: #fff;
    text-align: center;
    padding: 8px 0
}
.linkedin{
    background-color: #007bb6;
    min-width: 40px;
    color: #fff;
    text-align:
    center;padding: 8px 0
}
.twitter{
    background-color: #1da1f2;min-width: 40px;color: #fff;text-align: center;padding: 8px 0
}

