body, html {
	height: 100%;
	width: 100vw;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.3px;
	color: black ;
    align-items:center;
  justify-content:center;
  overflow-x: hidden;
  /*margin-bottom: 100vh*/
	}

::-webkit-scrollbar {
    width:10px ; /*  remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible*/
    height:3px;
}

::-webkit-scrollbar-thumb {
	width: 0px ;
	border-radius:0px;
	background-color: #53a374;
	height:0px;
}

::-webkit-scrollbar-button  {
    height:0px;
}


::-webkit-scrollbar-corner  {
    display:none;
}
a {
    outline: none !important;
    text-decoration: none !important;
}
a:focus{
	border: none;
}

.mainGIF{
	height:100vh;
	width: 100vw;
}
@font-face {
    font-family: 'leagueSpartan'; /*a name to be used later*/
    src: url('src/fonts/league-spartan-master/_webfonts/leaguespartan-bold.ttf'); /*URL to font*/
}
.navbar-default{
	background-color: #fff ;
	background-image: none ;
	box-shadow: 1px 2px 20px grey ;
	border-color: #fff ;
	padding-top: 0px

}
.mainSliderImage{

}
.logoHeader{
	width: 13vw;
	height: auto;
	margin-left: 28%;
  margin-top: -1.5vh
}

.headerLink {
	padding-right: 2vw;
	margin-top: 2vh;

}
.headerLink li a{
	font-weight: 700;
	color: #000 !important;
	font-size: 1.32vw;
	padding-top: 15px 2.2vw;
	font-weight: 900;
	font-family: 'Lato' , sans-serif;
	-webkit-transition: .4s; /* Safari */
    transition: .4s;
        margin-top: -2.5vh;


}
.mainImage{
position: relative;
    text-align: center;
    color: white;
background-color: #000;
}
.headerLink li a:hover{
	color: #ddd !important;
	background-color: #000 !important;
	border-radius: 5px
}
.headerLink li a:hover{
	color: #fff !important;
	background-color: #888 !important;
	border-radius: 5px;

}
.navbar-default .navbar-nav>.active>a{
	background-image: none !important;
	background-color: #000;
	color: #fff !important;
	border-radius: 0px 0px 5px 5px;

}
.aboutUsHeading{
	color:#000;
	font-size: 6.5vw;
	padding-right: 10vw;
	margin-top: 2vh;
	font-weight: 900;
	font-family: 'Lato', snas-serif;
        text-align:right;
}
.aboutUsTextMain{
    color: #000;
    font-size: 1.6vw;
    padding-left: 10vw;
    padding-right: 9vw;
    padding-top: 0vh;
    word-spacing:.1vw;
    line-height:28px;
    font-weight: 400;
    margin-top:0px;
}
.readMoreMainButton{
	margin-top: 10vh;
	text-align: center;
       	
}
.readMoreMainButton a{
    background-color: #ff3333;
    color: #fff;
    padding: 17px 28px;
    border-radius: 5px;
    font-size: 1.3vw;
    font-weight: 700;
    cursor: pointer;
   
}
.readMoreMainButton a:hover{
    box-sizing: border-box ;
    box-shadow: 3px 3px 20px grey;
    
}
.hideme{
	opacity: 1;
	padding-top:0vh;
}
.navbarAnimate{
	opacity: 1;
}
.borderLine{
	border-bottom: 1px solid #888;
	padding-bottom: 15vh;
}
.rightBorder{
	border-right: 1px solid #888;

}
.eventPad{
	padding-top: 0vh;
	padding-bottom: 15vh
}
.eventDiv{
	text-align: center;
	/*margin-top: 1vh;*/
	padding-top: 4vh
}
.eventHeading{
	color: #000;
    font-size: 4vw;
    font-weight: 900;
}
.eventHeading2{
	margin-bottom: -.5vh;
	margin-top: 7vh
}
.eventContent{
	    font-size: 1.1vw;
    line-height: 28px;
    padding: 0 7.25vw;
    color: #000;
}
.eventContentHeading{
	margin-bottom: 1.5vh;
	padding-top: 6vh ;
      font-size: 1.5vw;
      font-weight: 700
}
.footer{
	background-color: #333;
	/*height: 40vh*/
}
.footerDetail{
	color: #fff;
    font-weight: 700;
    padding-left: 8vw;
    font-size: 1.3vw;
}
.footerDetailIcon{
	padding-right: 1vw;
	padding-top: 5vh
}
.footerDetailIcon1{
	padding-right: 1vw;
	margin-top: -.5vh
}
.copyright{
	    color: #fff;
    padding-left: 10.3vw;
    font-size: 1.1vw;
    padding-top: 6vh;
}
.footerSocialIcon{
	    color: #fff;
    padding: 2vh .7vw;
    font-size: 1.5vw;
    padding-top: 7vh;
}
.sideIcons{
    z-index: 2;
    position: fixed;
    top:20em;
    left:95%;
}
@media only screen and (min-width: 720px) {
    .sideIcons {
        left:93%;
    }
}
@media only screen and (max-width: 720px) {
	.sideIcons {
        left:177%;
        opacity: 0
    }
}
.fb{
    background-color: #3b579d;
    min-width: 40px;
    color: #fff;
    text-align: center;
    padding: 8px 0
}
.google{
    background-color: #dd4f43;
    min-width: 40px;
    color: #fff;
    text-align: center;
    padding: 8px 0
}
.linkedin{
    background-color: #007bb6;
    min-width: 40px;
    color: #fff;
    text-align:
    center;padding: 8px 0
}
.twitter{
    background-color: #1da1f2;min-width: 40px;color: #fff;text-align: center;padding: 8px 0
}


/* about page*/

.aboutHeading {
    font-size: 2.5vw;
    font-weight: 900;
    padding-left: 3.5vw;
    padding-top: 5vh;
        color: #333;
}
.aboutContent{
	   font-size: 1vw;
    color: #444;
    padding-right: 5vw;
    word-spacing: 3px;
}
.TEAM
{
  color:black;font-size:40px;margin-left:120px;font-weight: bold;
}

/* sponsors page*/
.new-tab{
        font-size: 1.1em;
        border:none;
        font-weight: 300;
        color:#fff;
        padding: 5px 25px;
        border-radius: 5px;
        background-color: #000;
    }
    .old-tab{
        font-size: 1.1em;
        border:none;
        font-weight: 300;
        color:#666;
        padding: 5px 25px;
        border-radius: 5px;
        background-color: #fff;
        display: inline;
    }

    .new_old_sponsors{
        margin-left: 8%;
        list-style-type: none;
    }
    .new_old_sponsors li{
        padding-left: 2%;
        display: inline-block;
    }

.imageDiv {
    position: relative;
    /*width: 100%;*/
    text-align: center;
}

.personImage {
  opacity: 1;
  display: block;
  width: 165px;
  height: 165px;
  border-radius:300px;
  transition: .5s ease;
  backface-visibility: hidden;
}
.hoverDiv {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 35%;
  width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.imageDiv:hover .personImage {
  opacity: 0.7;
}
.imageDiv:hover .hoverDiv {
  opacity: 1;
}
.team
{
  color:#138D75  ;
  font-size:20px;
}
.teamid
{
	width: 165px;
  padding:0px;
}
.teamname
{
  color:blue;
  font-size:20px;
  padding-left:6px;
}
.department1
{

  color:orange;
  font-size: 30px;
  text-align: center;
  line-height: 6vh;
}

.department2
{
  color:orange;
  font-size: 20px;
  text-align: center;
}

.hoverIconFb {
  background-color: #3b579d;
  color: white;
  font-size: 15px;
  padding: 8px 13.5px;
  display: inline;
  border-radius: 5px
}
.hoverIconLinkedin {
  background-color: #007bb6;
  color: white;
  font-size: 15px;
  padding: 8px 10px;
  display: inline;
  border-radius: 5px
}
.hover08 figure img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover08 figure:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.AEsponsors
{
  margin-left:120%;
}
.sponsorsImage{
        height: 110px;
    width: 250px;
}
.iitrlogo
{
    height:220px;
    width:220px;
}
.goldsponsorsImage{
        height: 150px;
    width: 280px;
}
.silversponsorsImage{
        height: 110px;
    width: 250px;
}
.bronzesponsorsImage{
        height: 70px;
    width: 210px;
}

.mrf,.sw,.gl
{
    margin-top:45px;
}
.display{
    display: block;
}

.ElectrifyingRacing{
  z-index: 1;
    position: absolute;
    color: #ff0000;
    font-size:2vw;
    /*background-color: #000;*/
    font-weight: 900;
    opacity: 0.6;
    top: 30vh;
    padding: 27vh 24vw 29vh 7vw;
    word-spacing: .5vw;
}
.staticnaavbar{
  position: sticky;
  top:100px;
  left:150px;
<<<<<<< HEAD
}
.home_nav{
	padding: 11px;
}
.about_nav{
	padding: 14px;
}
.car_nav{
	padding: 11px;
}
.gallery_nav{
	padding: 12px;
}
.sponsor_nav{
	padding: 14px;
}
.team_nav{
	padding: 14px;
}
.mainfrontimage{
  height:750px !important;
  width:100% !important;
 opacity:0.6;
}
.goldspons {
    text-align: center;
    color: #826436;
    font-weight: 900;
    font-size: 4vw;
    margin-top: 1vh;
    margin-bottom: 10vh;
}
.silverspons {
    text-align: center;
    color: #826436;
    font-weight: 900;
    font-size: 3vw;
    margin-top: 20vh;
    margin-bottom: 17vh;
}
.bronzespons {
    text-align: center;
    color: #826436;
    font-weight: 900;
    font-size: 2vw;
    margin-top: 20vh;
    margin-bottom: 17vh;
}
.competitio{
      font-weight: 900;
    font-size: 2.5vw;
    color: #333;
    margin-left: 3.5vw;
    margin-top: 7vh
}
.compdetails{
    color: #444;
    font-size: 1.1vw;
    margin-left: 3.8vw;
    margin-bottom: 3vw;
    padding-top: 2vh;
}
.competitionImage{
      height: auto;
    width: 24vw;
    margin-top: 17.5vh;
}
.compimage{
  height: 20vw;
  width: 100%;
}
.ae
{
  margin-top: 50px;
}
.header
{
  position:sticky;
  top:0px;
  z-index:1;
}
.twoline
{
 font-size:16px;padding-top:3px;
}
.teamImage
{
  display:block;
  width:165px;
  height:165px;
  border-radius:300px;
}
.teamFaculty
{
  width:180px;
  height:180px;
  border-radius:0px;
}
.facultyDetails
{
   color: #000;
    font-size: 16px;
    word-spacing:4px;
    line-height:20px;
    font-weight:250px;
}
.electricJS
{
  display:none;
}
.flipDown
{
  cursor:pointer;
}
.portfolio img {
    max-width: 100%;
    position: relative;
}
.mar-b-30 {
    margin-bottom: 30px;
}

#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: 24%;
    margin-right: 1%;
    margin-bottom: 1%;
    display: none;
    float: left;
    overflow: hidden;
    }

.portfolio-wrapper {
    overflow: hidden;
    position: relative !important;
    background: #666;
    cursor: pointer;
}
.portfolio-hover {
    position: relative;
    overflow: hidden;
}

#filters li span.active {
    background-color: #2c3e50;
    color: #fff;
}
#filters li span {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: #666;
    cursor: pointer;
}
span.filter {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.image-caption {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding-top: 35%;
    display: none;
    text-align: center;
    color: #fff !important;
    z-index: 2;
}
ul#filters li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
ul#filters {
    display: inline-block;
    width: 100%;
    margin: 25px 0 25px 0;
}
#filters {
    margin: 1%;
    padding: 0;
    list-style: none;
    float:left;
}
ul {
    padding-left: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
.affix {
      padding-bottom: 7px;
      top: 0;
      width: 100%;
      z-index: 9999 !important;

      nav.navbar.shrink {
  min-height: 35px;
}
nav.shrink a {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  font-size: 10px;
}
nav.shrink .navbar-brand {
  font-size: 10px;
}
nav.shrink .navbar-toggle {
  padding: 2px 2px;
  margin: 8px 0 8px 0;
}}
.facultydata{
  height:300px;
  width:300px;
  background-color: red;
}
.display{
    display: block;
}
.welcomeToMotorsport {
    z-index: 1;
    position: absolute;
    color: #ff0000;
    font-size: 6vw;
    background-color: #000;
    font-weight: 900;
    opacity: 0.6;
    top: 0vh;
    padding: 16vh 75vw 29vh 7vw;
    word-spacing: 2vw;
}
.projectSlider{

}
.downloadBrochureButton{
    margin-top: -21vh;
    text-align: center;
    margin-left: -2vw;
}
.downloadBrochureButton a{
    background-color: #ff3333;
    color: #fff;
    padding: 17px 28px;
    border-radius: 5px;
    font-size: 1.3vw;
    font-weight: 700;
    cursor: pointer;
}
.goldspons{
  margin:100px;
  text-align: center;
  color: #826436;
  font-weight: 900;
  font-size: 2.4vw;
}
.ae{
  margin-top: 50px;
}

.aboutSlider{
    margin-left: 3.5vw;
    width: 37vw;
}
.theVision{
  font-weight: 900;
  margin-top: 0;
  color: #333
}
.side
{
  position: absolute;

    top: 30%;
    left: 9.8%;
   font-size:7vw;
    top: 55%;
    left:28%;
    transform: translate(-50%, -50%);
   font-size:85px;
    font-weight: 900;
    opacity: 0.6;
   word-spacing: 2vw;
  font-family: 'Lato', sans-serif;
    letter-spacing: 0.3px;
}
anchor{
  display: block;
  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
}
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;

}
hr {
    margin-top: 50px;
    border-style: inset;
    border-width: 1px;
}
.inner{
  position: relative;
}

.sliderx{
  
  height: 20vh;
  overflow-x: auto;
  display: inline;
  margin-bottom: 10px;
  margin-top: 30px;
  transform-style: preserve-3d;
  padding-top: 10px;
  padding-bottom: 10px;
  
}
.sliderx img{
  height: 20vh;
  width: 40vw;
  padding-top: 10px;
  padding-bottom: 10px;
}
.slidex0{
  position: absolute;
  display: inline;
  margin-right: 1vw;
  animation-name: slidex0;
  animation-play-state: paused;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
    
}
@keyframes slidex0 {
  from{transform:scale(.9); opacity: .6; right: 70vw;}
  to{  opacity: 0; right: 110vw;}
}

.slidex1{
  position: absolute;
  display: inline;
  margin-right: 1vw;
  animation-name: slidex1;
  animation-play-state: paused;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  transition: transform 3s;
    
}
@keyframes slidex1 {
  from{transform:scale(1.3); opacity: 1; right: 25vw;}
  to{transform: scale(.9);  opacity: .6; right: 71vw;}
}

.slidex3{
  position: absolute;
  margin-left: 1vw;
  display: inline;
  animation-name: slidex3;
  animation-play-state: paused;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

}
@keyframes slidex3{
from{right: -50vw; opacity:0;}
to{transform: scale(.9); opacity: .6; right:-18vw; }
} 
.slidex2{
  position: absolute;
  display: inline;
  animation-name: slidex2;
  animation-play-state: paused;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

}
@keyframes slidex2{
from{transform: scale(.9); opacity:0.6; right: -19vw;}
to{transform: scale(1.3) ; opacity: 1; right: 27vw;}
}

button{outline: none;}
.rbtn{
  height: 6vh;
  width: 9vw;
position: absolute;
right: -10px;
color: white;
background: linear-gradient(rgba(100,100,100,.7),rgba(0,0,0,1),rgba(0,0,0,.7));
box-sizing: border-box;
border-radius: 10px;
border: none;
transition: all 1s;
margin-top: -20vh;
font-weight: 500;
outline: none;
}

.lbtn{
  height: 6vh;
  width: 9vw;
position: absolute;
left: -10px;
color: white;
background: linear-gradient(rgba(100,100,100,.7),rgba(0,0,0,1),rgba(0,0,0,.7));
box-sizing: border-box;
border-radius: 10px;
border: none;
transition: all 1s;
margin-top: -20vh;
font-weight: 500;
outline: none;
transform: rotateY(180deg);
}

@media screen and (orientation : landscape) {
    .rbtn{width: 5vw;}
}

@media screen and (orientation : landscape) {
    .sliderbtn{width: 5vw;}
    .fixed-nav-bar{height: 5.5vw;}
}
@media screen and (orientation: portrait){
  .fixed-nav-bar{height: 7vh;}
}

.mobile_view{
	display: none;
	margin-bottom: 1.7vh;
	margin-top: -7vh;
}

#sliderFrame_mobile{display: none;}

@media screen and (max-width: 500px){
.sliderx{display: block;}
.desktop_view{display: none;}
.mobile_view{display: block;}
#sliderFrame{display: none;}
#sliderFrame_mobile{display: block;}


}
.cap{
	background-color: rgba(0,0,0,.5);
	font-weight: 800;
	padding: 3px 60px;
	border-radius: 20px 20px 9px 9px;
	box-sizing: border-box;
	box-shadow: 0px 0px 13px white;
	text-shadow: 0px 0px 30px black;
}
.carousel-caption-about{
	z-index: 100;
	color: white;
	background-color: rgba(0,0,0,.5);
	height: 9vh;
	padding: 10px;
	font-weight: 800;
	box-sizing: border-box;
	box-shadow:0px 0px 7px white;
	text-shadow: 2px 2px 1px black;
}


.recent-work
{
    color:#000;
	font-size: 5vw;
	margin-top: 2vh;
	font-weight: 700;
	font-family: 'Lato', snas-serif;
    text-align:center;
    padding-top: 1.5vh;
 }

.sb_slider-caption{
  position: absolute;
  color: white;
  font-weight: 800;
  bottom: 9px;
  left: 28%;
  padding: 10px;
  width: 46%;
  justify-content: center;
  text-align: center;
  font-size: 140%;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 3px 3px 10px black;
  text-shadow: 4px 2px 20px black;
  background: linear-gradient(transparent,black,transparent);
  text-decoration: none;
  animation-name:captionfade;
  animation-duration: 1s;

}
.sb_slider-caption a{text-decoration: none;
color: white;}

@keyframes captionfade{
  from{opacity: 0;}
  to{opacity: 1;}
}