.pf-detail p {
    font-family: 'Merriweather',sans-serif;
    font-size: 18px;
    line-height: 30px;
    word-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    color:rgba(0,0,0,0.6);
}
.data 
{
  font-size:14px;
  line-height: 30px;
    word-spacing: 2px;
      color:rgba(0,0,0,0.6);

}
.title {
    font-size: 24px;
    padding: 0px 0px;
    color: #000000;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
b
{ margin-left:2px;
}
li
{
  list-style:none;
}
.headingsCar{
  font-size:  2.5vw;
  font-weight: 700;
  color: #888
}
.carImage{
  margin-left:18%;
  margin-right:5%;
  width:80%;
  background-color: #fff;
  margin-top: 7vh;
  margin-bottom:5vh;
}
.detailPadding{
  margin-bottom: 5vh;
  margin-top: 5vh
}